body{
    color:rgb(177, 229, 48);
    background-image: url(2323.jpg);
    background-size: cover;     
   background-repeat: no-repeat; 
}
img{
    border: 10px;
    border-radius: 20px;
    border: 10px solid rgba(112, 117, 67, 0.801); 
    height:310px;
    width:520px;
}
.visitor-info{
    padding:100px;
}