p{
    font-size:30px;
    text-align: center;
}
button{
margin-left: 40%;
border-radius: 6px;
padding: 13px;
}
form{
    border: 2px solid;
    padding: 50px;
    border-radius: 10px;
    width: 80%;
    margin-left: 5%;
    background-color: lightgreen;
}
input{
    margin-left: 2px;
    border-radius: 10px;
    width: 10%;
    padding: 10px;
}
label{
    font-size: 25px;
    margin-bottom:100px;
}
#TextAdd{
    padding:6px;
    width: 200px;
    border-color: blue;
}
#result{
    margin-top:10px;
    text-align: left;
    font-size: 16px;
}

