p{
    font-size:30px;
    text-align: center;
}
button{
margin-left: 41.5%;
border-radius: 6px;
padding: 13px;
}
form{
    border: 2px solid;
    padding: 50px;
    border-radius: 10px;
    width: 80%;
    margin-left: 5%;
}
input{
    margin-left: 2px;
    border-radius: 10px;
    width: 10%;
    padding: 10px;
}
label{
    font-size: 25px;
    margin-bottom:100px;
}
