body{
    color:rgba(128, 0, 248, 0.932);
    background-color: rgba(24, 161, 171, 0.808);
}
img{
    border: 10px;
    border-radius: 20px;
    border: 10px solid rgb(143, 161, 30); 
            
}