body{
    color:rgb(163, 58, 255);
    background-image: url(aifelovata_kula-1.jpg);
    background-size: cover;     
   background-repeat: no-repeat; 
   background-position: center;
}

img{
    border: 10px;
    border-radius: 20px;
    border: 10px solid rgb(143, 161, 30);        
}
p{
    font-size:30px;
    color:rgba(74, 65, 232, 0.992);
}
.nav-details {
  background-color: #d3c65488;
  padding:3px;
  text-align: center;
  font-family: Arial, sans-serif;
  width: 600px;
  margin: 0 auto;
  border-radius:10px;
}

.nav-details h1 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #000000;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 15px;
  justify-content: center;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #e4f6ff;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size:25px;
}

.nav-links a:hover {
  color: #004999;
}