body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('unnamed.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

header.nav-details {
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  margin: 0;
  color: #ffd700;
}

.media-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 40px auto;
  flex-wrap: wrap;
}

.media-row img {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  max-width: 600px;
  height: 600px;
}

.media-row .video {
  width: 600px;
  height: 460px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.one {
  background-color: rgba(0,0,0,0.6);
  padding: 30px;
  margin: 40px auto;
  width: 85%;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  line-height: 1.6;
}

.one p {
  font-size: 25px;
  text-align: justify;
}

.cta-text {
  text-align: center;
  margin-left: 22%;
}

.cta {
  display: inline-block;
  background-color: #ff6600;
  color: #fff;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s;
}

.cta:hover {
  background-color: #cc2900;
  transform: scale(1.08);
}
h2 {
  font-size: 32px;
  text-align: center;
  color: #ffcc00;
  margin: 20px 0;
}
.two{
  background-color: rgba(0,0,0,0.6);
  padding: 30px;
  margin: 40px auto;
  width: 85%;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  line-height: 1.6;
}
.two p {
  font-size: 24px;
  text-align: justify;
  color: rgb(124, 229, 48);
}
section h1 {
  font-size: 28px;
  color: #ffcc00;
  margin-bottom: 15px;
  text-align: center;
}

.clip {
  width: 100%;
  height: 500px;
  margin-top: -2%;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}
.info-card1{
  margin-bottom: 60px;
color: rgb(59, 230, 29);
background-color: rgba(0,0,0,0.6);
  padding: 20px;
  font-size: 25px;
  
}
.info-card2{
  margin-bottom: 60px;
color: rgb(134, 222, 223);
background-color: rgba(0,0,0,0.6);
  padding: 20px;
  font-size: 25px;
  
}
.info-card3{
  margin-bottom: 60px;
color: rgb(227, 102, 202);
background-color: rgba(0,0,0,0.6);
  padding: 20px;
  font-size: 25px;
}

